language: php
php: 5.6
sudo: false
dist: trusty
services:
    - mysql
env:
    - run=1
    - run=2
    - run=3
    - run=4
    - run=5
    - run=6
    - run=7
    - run=8
    - run=9
    - run=10
    - run=11
    - run=12
    - run=13
    - run=14
    - run=15
    - run=16
    - run=17
    - run=18
    - run=19
    - run=20
install: true
script:
    - "mysql -h 127.0.0.1<<<\"show variables like '%log%'\""
    - ps -jef --forest
notifications:
    email: never
